/*! Watnotif v1 | MIT License | github.io/watnotif*/

/*
 * ===== HOW-TO USE THIS LESS FILE ========
 * 
 * You should only compile the LESS files in "prepared" folder. To explain how they work:
 *		- they define two variables: $vertical-position, $horizontal-position,
 *		- they then import this file and the effect file they need.
 * 		- and ... That's it!
 */

@import 'variables.scss';

#watnotif-wrapper {
	box-sizing: border-box;
	position: fixed;
    
	display: block;
	width: 100%;
	max-width: $notif-max-width;
	height: 0;
    
	overflow: visible;
	z-index: $notif-z-index;

	*, *:before, *:after {
		box-sizing: border-box;
	}

// BEGIN REGION "VERTICAL POSITIONING" 
	@if $vertical-position == top {
		top: 20px;
		@media (max-width: $mobile-max-width) {
			top: 0;
		}	
	}

	@if $vertical-position == bottom {
		bottom: 20px;
		transform: rotate(180deg);
		& > .notif {
			transform: rotate(180deg);
		}
		@media (max-width: $mobile-max-width) {
			bottom: 0;
		}
	}
// END REGION "VERTICAL POSITIONING" 

// BEGIN REGION "HORIZONTAL POSITIONING" 
	@if $horizontal-position == left {
		left: 10px;
		@media(max-width: $mobile-max-width) {
			left: 0;
		}
	}
	@if $horizontal-position == center {
		left: 50%;
		margin-left: $notif-max-width/2 - $notif-max-width;
		@media (max-width: $mobile-max-width) {
			left: 0;
		}
	}
	@if $horizontal-position == right {
		right: 20px;
		@media(max-width: $mobile-max-width) {
			right: 0;
		}
	}
// END REGION "HORIZONTAL POSITIONING"

	@include effect;

	& > .notif {
		position: relative;
        
		display: block;
		width: 100%;
		min-height: 50px;
		height: auto;

		padding: 10px 20px;

		cursor: pointer;
		color: #fff;
		box-shadow: $notif-box-shadow;
		overflow: hidden;
		opacity: 1;
        
		&:before {
			position: absolute;
			top: 50%;
			left: 0;
			display: block;
			width: 50px;
			height: 50px;
			margin-top: -25px;
			padding: 10px;
			text-align: center;
			line-height: 30px;
			font-family: $symbol-font, sans-serif;
		}
		& > .close-notif {
			position: absolute;
			top: 0;
			right: 5px;
			z-index: 2;
			display: block;
			width: 30px;
			height: 30px;
			padding: 5px;
			background: transparent none;
			border: none;
			opacity: 0;
			outline: none;
			font-size: 30px;
			font-weight: normal;
			line-height: 30px;
			transition: opacity .1s ease-out;
		}
		&:hover {
			& > .close-notif {
				opacity: .4;
				&:hover {
					opacity: 1;
				}
			}
		}
		& > p {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			padding: 0 12px 0 50px;
			margin: 0;
			opacity: 1;
			transition-property: height, opacity, margin;
			transition-duration: .15s;
			transition-delay: .75s;
			a {
				color: inherit;
				text-decoration: underline;
			}
		}

		&.inactive > p {
			height: 0;
			margin: -10px 0 0 0;
			opacity: 0;
			overflow: hidden;
		}
		
    	/* Customisation of the background color of the notifications depending on their type */
		&.confirmed {
			&:before {
				content: $confirmed-symbol;
			}
			background: $confirmed-bg-color;
		}
		&.success {
			&:before {
				content: $success-symbol;
			}
			background: $success-bg-color;
		}
		&.error {
			&:before {
				content: $error-symbol;
			}
			background: $error-bg-color;
		}
		&.default {
			&:before {
				content: $default-symbol;
			}
			background: $default-bg-color;
			color: #333;
		}
	}
	@media (max-width: $mobile-max-width) {
		width: 100%;
		max-width: 100%;
		& > .notif {
			margin-bottom: 0;
			& > .close-notif {
				opacity: .4;
			}
		}
	}
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		& > .notif {
			transition: none;
			& > p {
				transition-delay: 0s;
			}
		}
	}
}