html, body { font-family: 'Open Sans', sans-serif; margin: 0; padding: 0; width: 100%; height: 100%; }
body { background: linear-gradient(135deg, #efefef 0%,#fefefe 100%);; }
#container { display: table; width: 100%; height: 100%; }
#container > * { display: table-cell; vertical-align: middle; }
*, 
* :before, 
*:after {
    box-sizing: border-box;
}

.centered-block { 
    display: block;
    width: 100%; 
    max-width: 980px; 
    margin: 0 auto;
    text-align: center;
    padding: 60px 40px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1);
}
.summary {
    text-align: left;
}
h1 { text-align: center; font-size: 52px; font-weight: normal; }
hr { 
    border-top: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    margin: 40px 0; 
}
.btn {
    display: inline-block;
    position: relative;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    margin: 10px; 
    padding: 0 20px;
    background: linear-gradient(135deg, #dadada 0%,#cbcbcb 100%);
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: #333;
}
.btn:after {
    content: " ";
    position: absolute;
    top: 50%; left: 50%;
    width: 0; height: 0;
    display: block; 
    background-color: rgba(255,255,255,.2);
    border-radius: 20px;
    opacity: 0;
    transition-property: width, height, top, left, opacity;
    transition-duration: .1s;
    transition-timing-function: ease-out;
}
.btn:hover:after {
    top: 0; left: 0;
    width: 100%; height: 100%;
    opacity: 1;
}
.btn.confirmed { background: linear-gradient(135deg, #59caff 0%,#26adec 100%); }
.btn.success { background: linear-gradient(135deg, #92db7b 0%,#70cf51 100%); }
.btn.error { background: linear-gradient(135deg, #ff6159 0%,#ec3026 100%); }
.btn:not(.default) { color: #fff; }
.btn:focus { 
    outline: none;
    /*box-shadow: 0 0 2px 2px rgba(0,0,0,.5);*/
}
.btn:active:after {
    background-color: rgba(0,0,0,.2);
}
code {
    background-color: #efefef;
    padding: 2px;
}
@media(max-width: 1024px) {
    #container { display: block; width: 100%; height: 100%; }
    #container > * { display: block; }
    .centered-block { border-radius: 0; padding: 20px; }
    h1 { font-size: 36px; }
    .centered-block .btn { 
        display: block;
        width: auto;
        margin: 10px auto;
    }
}