@import '../variables.scss';

@transition-duration : .15s;
@transition-delay    : .1s;

@mixin effect {
    position: relative;     
    margin: 0 0 20px 0; 
    left: 0;

    width: 100%; 
    opacity: 1;

    transition-property: width, left;
    transition-duration: $transition-duration;
    transition-delay: 0s;
    transition-timing-function: ease-out;

    & > p.msg {
        margin: 0;

        opacity: 1;

        transition-property: height, opacity, margin;
        transition-duration: $transition-duration;
        transition-delay: $transition-delay;
    }
    &.inactive {            
        width: 120%; 
        left: -10%;
        max-width: 550px;
        margin: 0 0 20px 0;
        & > p {
            height: 0;
            margin: -10px 0 0 0;
            opacity: 0;
            overflow: hidden;
        }
        
        &:not(.going-out):before {
            opacity: 0;
            top: 60%;
        }
        &.going-out {

            left: 50%;
            width: 0;
            opacity: 0;
            height: 50px;

            transition-property: left, width, opacity, height;
            transition-duration: $transition-duration, $transition-duration, $transition-delay, $transition-duration;
            transition-delay:  $transition-delay, $transition-delay, .25s, 0s;
            transition-timing-function: linear;
            & > p {
                opacity: 0;
                height: 100%;
                margin: 0;
                transition-property: opacity;
                transition-delay: 0s;
                transition-duration: $transition-duration;
                transition-timing-function: ease-out;
            }
        }
    }
}